@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400&display=swap");
html {
  font-family: "Outfit", sans-serif;
}

body {
  background: #eee;
  max-width: 960px;
  margin: 20 auto;
}

p,
h3,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  background: #fff;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.fav {
  background: lightgreen;
  color: white;
}

.box {
  padding: 100px 0;
  width: 400px;
  text-align: center;
  background: #ddd;
  margin: 20px;
  display: inline-block;
}

.fav {
}
